{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}

 :paths ["src/clj" "target/classes" "target/native"]

 :aliases
 {:native {:jvm-opts ["-Djava.library.path=target/native"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
          :ns-default build}}}
